<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :restaurant  %>
    <%= collection_select(:reservation, :restaurant_id, Restaurant.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :party_size %>
    <%= f.number_field :party_size %>
  </div>
  <div class="field">
    <%= f.label :booking %>
    <%= f.datetime_select :booking, :default => {:hour => 17, :minute => 0}  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
