<h1>Restaurants</h1>

 
    <% @restaurants.each do |restaurant| %>
      
        <h5>Name: <%= restaurant.name %></h5>
        <h5>Address: <%= restaurant.address %>
        <h5>Reviews: <%= restaurant.reviews.count %></h5>
        


        <%= link_to 'Show', restaurant %>
        <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
        <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
      
    <% end %>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
