<h1>Restaurants</h1>

<%= form_tag restaurants_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
<% end %>

  <table>
    <tr>
      <th><%= sortable "Name", :sort => "name" %></th>
      <th><%= sortable "Address", :sort => "address" %></th>
      <th>Reviews</th>
      <th>Booked by: </th>
     
    </tr>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.reviews.count %></td>
        <td><%= pluralize restaurant.reservations.count, 'person'  %></td>


        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </table>

<%= link_to 'New Restaurant', new_restaurant_path %>
