<!DOCTYPE html>
<html>
<head>
  <title>SeatYourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
    
      <%= render 'layouts/navigation' %>
    </header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-sm-8 main-content top-buffer-80">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div><!-- End of blog-main -->
       
    <div class="col-sm-4  top-buffer text-center">
        <%= render 'shared/user_manage'  %>
        <%= link_to new_reservation_path do %>
          <button type='button' class='btn btn-default'>Seat Yourself!</button>
        <% end %><br />
        <%= link_to reservations_path do %>
          <button type='button' class='btn btn-default'>Your Reservations</button>
        <% end %>
        <% if user_signed_in? %>
          <%= render 'shared/nearby' %>
        <% else %>
          <p>Log in to see nearby restaurants</p>
        <% end %>
    </div>
   </div> <!-- end of row -->
      </main>

    <footer class="container">
      <div class="row">
        <section class="col-sm-4">
          Copyright 2014
        </section>
        <section class="col-sm-8">
          All rights reserved.
        </section>
      </div>
    </footer>
  </body>
</html>
