<!DOCTYPE html>
<html>
<head>
  <title>SeatYourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
    
      <%= render 'layouts/navigation' %>
    </header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-sm-8 main-content top-buffer">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div><!-- End of blog-main -->
       
    <div class="col-sm-4  top-buffer">
      <div class="text-center">
        <%= render 'shared/user_manage'  %>
       
      </div>
    </div>
   </div> <!-- end of row -->
      </main>

    <footer class="container">
      <div class="row">
        <section class="col-sm-4">
          Copyright 2014
        </section>
        <section class="col-sm-8">
          All rights reserved.
        </section>
      </div>
    </footer>
  </body>
</html>
